<<<<<<< HEAD
$color: hsl(192, 100%, 34%);

.nav {
  background-color: $color;
}

.text {
  color: white;
  text-decoration: none;
=======
$color: hsl(192, 100%, 34%);

.nav {
  background-color: $color;
}

.text {
  color: white;
  text-decoration: none;
>>>>>>> 4a952d312500b67f164d060421a59facccc8e3c2
}